body{
    background-image: url(/Assets/395434.jpeg);
    background-size: cover;

}

#characters{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

#instructions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#desc{
    font-family: Arial;
    font-size: larger;
    color: white;
    width: 500px;
    height: auto;
}

#characters img{
    width: 200px;
    height: 200px;
}

#instructions img{

    height: 100px;
}